.menu__header {
    margin-bottom: 50px;
    text-align: center;
}

.menu__title {
    font-size: 2.5rem;
}

.menu__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    position: relative;

    .menu-item__img-wrapper {
        flex: 1;
        width: 100%;
        aspect-ratio: 1 / 1; 
    }

    .menu-item__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; 
        display: block;
    }

    .menu-item__content {
        flex: 1;
        justify-content: space-between;
        display: flex;
        flex-direction: column;

        & .btn {
            align-self: flex-end;
        }
    }

    .menu-item__title {
        font-size: 1.5rem;
    }

    .menu-item__price {
        padding: 5px;
        font-size: 1.23rem;
    }

    .off {
        color: var(--color-fiery-red);
        text-decoration: line-through;
        margin-right: 2px;
    }

    .menu-item__text-wrapper {
        margin-bottom: 15px;
    }

    .menu-item__offer-tag {
        color: var(--color-bone-white);
        background-color: var(--color-fiery-red); 
        padding: 10px;
        font-weight: 800;
        position: absolute;
        top: 0;
        right: 0;
    }
}
